<nav class="navbar navbar-dark bg-primary p-3">
    <a class="navbar-brand" href="/">
        Blogpress
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/admin/categorias">Categorias</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/admin/artigos">Artigos</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/admin/usuarios/">Usuarios</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/logout" onclick="return confirm('Tem certeza?')">Sair</a>
        </div>
    </div>
</nav>